.sectionLocation {
  margin-top: 160px;
}

.classeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slidesContainer {
  height: 464px;
  width: 1600px;
  margin: 0 auto;
}

.sectionLocation_text {
  width: 800px;
  margin-bottom: 32px;
}
