.teacherSection {
  padding: 120px 256px 120px 256px;
  border: solid red 1px;
}

.teacherContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.textContainer {
  max-width: 528px;
  display: flex;
  flex-direction: column;
}

.pictureContainer {
  max-width: 528px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    border-radius: 20px;
  }
}

.teacherPictureTitle {
  color: var(--black);
}
