header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  img {
    cursor: pointer;
  }
}

ul {
  display: flex;
  li {
    padding: 16px 32px;
    font-family: var(--font-family2);
    color: var(--black-75);
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      color: var(--primary);
    }
  }
}
