h1 {
  font-family: var(--font-family1);
  color: white;
  font-weight: 700;
  font-size: 67px;
  line-height: 86px;
}

h2 {
  font-family: var(--font-family1);
  background: var(--gradiant);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  margin-bottom: 64px;
}

h3 {
  font-family: var(--font-family2);
  color: white;
  font-weight: 300;
  font-size: 38px;
  line-height: 57px;
}

h4 {
  font-family: var(--font-family1);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

h5 {
  font-family: var(--font-family2);
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  color: white;
}

h6 {
  font-family: var(--font-family1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

p {
  font-family: var(--font-family2);
  color: var(--black-75);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.avis {
  font-family: var(--font-family2);
  color: var(--black-75);
  font-weight: 300;
  font-style: italic;
  font-size: 21px;
  line-height: 28px;
}
